<template>
  <section class="container">
    <div>
      <h2 class="subtitle">
        Страничка #2
      </h2>
      <h3>red message.</h3> 
      <h3 :class="redColor">author: {{ authorLowerCase }}</h3>
      <div class="links">
        <a
          href="/"
          class="button--grey">На главную</a>
      </div>
    </div>
  </section>
</template>

<script>
import AppLogo from '~/components/AppLogo.vue'

export default {
    data() {
        return {
            authorName: "Starikov",
            redColor: "red"
        }
    },
    computed: {
        authorLowerCase() {
            return this.authorName.toLowerCase();
        }
    },
    components: {
        AppLogo
    },
    layout: 'default'
}
</script>

<style lang="less">
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

.red {
    color: red;
}
</style>

